.card-badge {
    position: absolute;
    top: 12px;
    right: 16px;
}

.user-card {
    position: relative;
}

.user-card:has(.user-card_button_section) {
    padding-bottom: var(--mantine-spacing-xl);
}

.user-card:has(.user-card_button_section):nth-last-child(2) {
    margin-bottom: var(--mantine-spacing-xl);
}

.user-card_button_section {
    position: absolute;
    bottom: var(--mantine-spacing-lg);
    width: 100%;
}