.container {
  max-width: 900px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: var(--mantine-spacing-md);
}

.questionCard {
  min-height: 300px;
  flex-grow: 1;
}

.controls {
  position: sticky;
  bottom: 0;
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-body);
  border-top: 1px solid var(--mantine-color-gray-2);
  z-index: 10;
  margin-top: auto;

  @media screen and (max-width: 768px) {
    &>* {
      width: 100%;
    }
  }


  @mixin dark {
    background-color: var(--mantine-color-dark-7);
    border-top-color: var(--mantine-color-dark-4);
  }
}

@media screen and (max-width: 768px) {
  .navigationButtons > * {
    flex-grow: 1;
  }
}

.timerWarning {
  color: var(--mantine-color-red-6);
  font-weight: 600;
}

.finishButton {
    font-weight: 500;
}

@media (max-width: 768px) {
    .finishButton span {
        display: none;
    }
}