.appShellScrollArea > div {
    max-width: 100vw;
    height: 100%;
}

.back-to-top {
    max-width: 40vw;
    p {
        height: 100%;
        align-content: center;
    }
}

.hide {
    visibility: hidden;
}

.navbar-tab {
    box-shadow: var(--mantine-shadow-xl);
    border-radius: var(--mantine-spacing-xs);

    &[data-variant="outline"] {
        border-color: var(--mantine-color-gray-5);
    }

    @mixin dark {
        &[data-variant="outline"] {
            border-color: var(--mantine-color-dark-9);
        }
    }
}

.footer {
    padding: var(--mantine-spacing-xs) !important;

}

.flex-footer {
    height: 100%;
    width: 100%;
    align-items: center;

    > *:first-child {
        flex-basis: 7vw;
        justify-items: center;
        height: 100%;
        width: 100%;
        > * {
            height: calc(var(--avatar-size-md) * 1.2 );
            width: calc(var(--avatar-size-md) * 1.2 );
        }
    }
}


.footer-group {
    flex-grow: 1;
    > * {
        height: 100%;
    }
}