.return-button {
    margin-bottom: var(--mantine-spacing-md);
    width: fit-content;
}

.blockquote {
    width: 100%;
    margin-block: var(--mantine-spacing-xl);
}

.loader {
    margin-block: var(--mantine-spacing-xl);
}

.divider {
    margin-block: var(--mantine-spacing-md);
}

.main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-stack {
    flex-grow: 1;
    margin-bottom: 0;

    @mixin larger-than $mantine-breakpoint-xl {
        margin-bottom: calc(1.5*var(--mantine-spacing-xl));
    }
}