.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: rem(200px);
    font-weight: 900;
    letter-spacing: rem(-2px);

    @mixin smaller-than 768px {
        font-size: m.rem(50px);
    }
}